@charset "UTF-8";

@import "variables";

@font-face {
  font-family: $soopericons-font-family;
  src:url("#{$soopericons-font-path}/soopericons.eot");
  src:url("#{$soopericons-font-path}/soopericons.eot?#iefix") format("embedded-opentype"),
    url("#{$soopericons-font-path}/soopericons.woff") format("woff"),
    url("#{$soopericons-font-path}/soopericons.ttf") format("truetype"),
    url("#{$soopericons-font-path}/soopericons.svg#soopericons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: $soopericons-font-family !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="#{$soopericons-prefix}"]:before,
[class*=" #{$soopericons-prefix}"]:before {
  font-family: $soopericons-font-family !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$soopericons-prefix}invoice:before {
  content: "\e000";
}
.#{$soopericons-prefix}invoice-alt:before {
  content: "\e001";
}
